body {
  	padding-top: 70px;
  	padding-bottom: 30px;
}

.project-vitals {
	font-size: 2em;
}

.search-card {
	padding:15px;
	border:1px solid #000; 
	height:415px;
	margin-bottom:40px;
}

.search-description {
  	height:350px;
}

.search-thumbnail {
	height:200px;
}